

.container {
    padding: 20px;
}
.form-control, .form-label {
    background-color: #222;
    border: none;
    color: white;
}
.form-control::placeholder {
    color: #ccc;
}
.custom-file-input {
    background-color: #222;
    border: none;
    color: white;
}