<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="logo-link">
            <img src="../../../assets/logopestnature.png" alt="Pets Nature Logo" class="logo">
            Pets Nature
        </a>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#about">Sobre Nosotros</a></li>
  
        </ul>
        <a href="/ingreso" class="button signup">Iniciar Sesión</a>
    </div>
  </nav>