<nav class="navbar navbar-expand-md color-nav py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" routerLink="/">
        <span class="bs-icon-sm bs-icon-rounded  d-flex justify-content-center align-items-center me-2 bs-icon">
            <img src="../../../assets/Icono-Petsnature.webp" style="width: 70px;height: 70px;"></span><span class="fw-bolder" style="padding-left: 20px;">Pets Nature</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#asd">Funciones</a></li>
                <li class="nav-item"><a class="nav-link active" href="#asd">Membresias</a></li>
                <li class="nav-item"><a class="nav-link active" href="#asd">Contactanos</a></li>

                <li  class="nav-item">
                    <button class="btn btn-sign-up" routerLink="/ingreso">Sign Up</button>
                </li>
        </ul>
        </div>
    </div>
  </nav>