
<nav class="navbar">
    <div class="navbar-container">
        <a  class="logo-link">
            <img src="../../../assets/logopestnature.png" alt="Pets Nature Logo" class="logo">
            Pets Nature
        </a>
        <ul class="nav-links">
            <li><a routerLink="/intranet/perfil">Perfil</a></li>
            <li><a routerLink="/intranet/calendario">Calendario</a></li>
            <li><a routerLink="/intranet/user/lista-mascotas"> Ver mascotas</a></li>


        </ul>
        <ul class="nav-item" *ngIf="isLoggedIn">
            <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
        </ul>
        <ul class="nav-item" *ngIf="!isLoggedIn">
            <button class="button signup" routerLink="/ingreso">Sign Up</button>
        </ul>

    </div>
</nav>