

<div class="container-flex">
    <app-navbar-principal></app-navbar-principal>

      <div class="container-flex" id="banner">
        <div class="row">
            <div class="col-md-7">
                <h2><strong>SÉ PARTE DE NUESTRA COMUNIDAD DE AMANTES DE MASCOTAS</strong></h2>
                <br>
                <a href="#" class="btn btn-light boton" routerLink="ingreso">
                    ÚNETE YA <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </div>
        </div>
      </div>

      <div class="container-flex" id="QuienesSomos">
            <h3>¿QUIÉNES SOMOS?</h3>
            <p>Somos un grupo de universitarios que estamos dispuestos a fomentar la creación de una gran comunidad de dueños de mascotas, 
                donde nuestros usuarios puedan intercambiar información valiosa a través de publicaciones detalladas, elaborar recomendaciones 
                y aclarar sus dudas sobre cualquier aspecto del cuidado de mascotas.</p>

            <div class="text-center">
                <img src="./assets/mascotas-img.png" alt="I_QuienesSomos" class="img-fluid imagen">
            </div>

      </div>

      <div class="container-flex" id="Servicios">
        <h3>SERVICIOS</h3>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="./assets/Info_certificada.png" alt="I_QuienesSomos" class="img-fluid imagen rounded-circle">
                <h4>INFORMACIÓN CERTIFICADA</h4>
            </div>
            <div class="col-md-4 text-center">
                <img src="./assets/Comunidad_interactiva.png" alt="I_QuienesSomos" class="img-fluid imagen rounded-circle">
                <h4>COMUNIDAD INTERACTIVA</h4>
            </div>
            <div class="col-md-4 text-center">
                <img src="./assets/recomend.png" alt="I_QuienesSomos" class="img-fluid imagen rounded-circle">
                <h4>RECOMEND. Y CONSEJOS</h4>
            </div>
        </div>
    </div>
    
    

      <div class="container-flex" id="Equipo">
        <h3>EQUIPO DE TRABAJO</h3>
        <div>
            <img src="./assets/equipo.png" alt="I_QuienesSomos" class="img-fluid">
        </div>
      </div>

      <div class="container-flex" id="Testimonios">
        <h3>TESTIMONIOS</h3>
        <div>
            <img src="./assets/testimonios.png" alt="I_QuienesSomos" class="img-fluid">
        </div>
      </div>
   <app-footer></app-footer>
    
</div>


