<app-navbar-principal></app-navbar-principal>

<body>
  <main>
    <section class="hero">
        <div class="logo-container">
            <img src="../../../assets/patas.png" alt="Pets Nature Logo">
        </div>
        <h1>Tu amigo es <br>Nuestra Prioridad</h1>
        <div class="buttons">
            <button>Vaccine Scheduling</button>
            <button>Vaccine Stercolling</button>
        </div>
    </section>
    <div class="dog-image">
        <img src="../../../assets/perritofeliz.png" alt="Happy Dog">
    </div>
  </main>


<section class="features">
  <div class="container">
    <header>
        <h1>Lo que ofrecemos</h1>
        <p>Explore nuestras funciones diseñadas para mejorar el cuidado y bienestar de sus mascotas.</p>
    </header>
    <div class="card-container">
        <div class="card">
            <img src="../../../assets/curriculum.png" alt="Create and Save Habits">
            <h3>Gestión de Información</h3>
            <p>Registro y Modificación de Perfiles: Los usuarios pueden crear y actualizar sus perfiles personales y los de sus mascotas, incluyendo información como nombre, raza, edad y condiciones de salud.</p>
        </div>
        <div class="card">
            <img src="../../../assets/cita.png" alt="Connect with Others">
            <h3>Calendario de Citas</h3>
            <p>Planificación y Recordatorios: La plataforma permite a los usuarios programar, visualizar y recibir recordatorios para citas médicas, vacunaciones y otros cuidados preventivos.</p>
        </div>
        <div class="card">
            <img src="../../../assets/consejo.png" alt="Customization and Tracking">
            <h3>Consejos Personalizados</h3>
            <p>Contenido Basado en Necesidades Específicas: Proporciona recomendaciones y consejos personalizados según la raza, edad y condiciones específicas de salud de cada mascota.</p>
        </div>
        <!-- <div class="card">
            <img src="https://via.placeholder.com/100" alt="Share Your Achievements">
            <h3>Comparte tus logros</h3>
            <p>Házle saber a todos tus conocidos sobre tus logros y objetivos</p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/100" alt="Help Others">
            <h3>Ayuda a los demás</h3>
            <p>Crea rutinas que ayuden a las personas más inexpertas a iniciar en este mundo.</p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/100" alt="Grow the Community">
            <h3>Haz crecer la comunidad</h3>
            <p>Contribuye a mejorar la aplicación con tus sugerencias para poder llegar a más personas.</p>
        </div> -->
    </div>
</div>
</section>

<section class="about-us-section">
  <div class="about-us-container">
      <header class="about-us-header">
          <h2>Sobre Nosotros</h2>
          <h1>PetsNature</h1>
          <p>Somos una plataforma líder en la gestión del cuidado de mascotas, comprometidos con ofrecer un servicio integral y personalizado que mejora la calidad de vida de las mascotas y la experiencia de sus dueños.</p>
      </header>
      <div class="mission-vision-cards">
          <div class="about-us-card">
              <h3>Misión</h3>
              <p>Nuestra misión es proveer a cada dueño de mascota las herramientas y recursos necesarios para facilitar un manejo proactivo de la salud de sus animales, garantizando así un enfoque preventivo que mitigue problemas de salud antes de que se conviertan en preocupaciones mayores. </p>
          </div>
          <div class="about-us-card">
              <h3>Visión</h3>
              <p>Buscamos establecernos como la solución líder en la gestión del cuidado de mascotas, proporcionando una plataforma user-friendly que integra servicios de salud y bienestar. Nuestro objetivo es facilitar un cuidado continuo y efectivo a través de una gestión integral y personalizada, mejorando así la calidad de vida de las mascotas.</p>
          </div>
      </div>
  </div>
</section>

<section class="imagen-landing">
  <img src="../../../assets/perrito.png" alt="Imagen de un perrito feliz">
  <div class="overlay"></div> <!-- Capa superpuesta para atenuar la imagen -->
  <div class="centered-text">Cuidamos a tu mejor amigo como si fuera nuestro</div>
</section>

</body>


<app-footer></app-footer>


