<h1 mat-dialog-title>Registrar Evento</h1>
<div mat-dialog-content>
  <form [formGroup]="eventForm">
    <mat-form-field>
      <mat-label>Veterinaria</mat-label>
      <input matInput formControlName="veterinaria">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Costo</mat-label>
      <input matInput formControlName="costo">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo de Evento</mat-label>
      <input matInput formControlName="tipoEvento">
    </mat-form-field>
    <div>
      <label>Archivo</label>
      <input type="file" (change)="onFileSelected($event)">
    </div>
    <mat-form-field>
      <mat-label>ID de Mascota</mat-label>
      <input matInput formControlName="mascotaId">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha</mat-label>
      <input matInput formControlName="fecha" [disabled]="true">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSubmit()" [disabled]="!eventForm.valid">Guardar</button>
</div>
