<div class="container mt-5" *ngIf="usuario">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-card-left text-center">
        <img src="assets/usericon.png" alt="Imagen de perfil" class="profile-img mb-3">
        <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
        <p>{{ usuario.username }}</p>
        <p>{{ usuario.correo }}</p>
        <button class="btn btn-custom mr-2" (click)="habilitarEdicion()">Editar Perfil</button>
        <button class="btn btn-danger-custom ml-2" (click)="eliminarCuenta()">Eliminar Cuenta</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-card-right">
        <h1 class="mb-4">Perfil de Usuario</h1>
        <div *ngIf="!editMode">
          <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
          <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
          <p><strong>DNI:</strong> {{ usuario.dni }}</p>
          <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
          <p><strong>Correo:</strong> {{ usuario.correo }}</p>
          <p><strong>Username:</strong> {{ usuario.username }}</p>
        </div>
        <div *ngIf="editMode">
          <form (ngSubmit)="actualizarPerfil()" class="mt-4">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input id="nombre" [(ngModel)]="updatedDatos.nombre" name="nombre" class="form-control">
            </div>
            <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input id="apellido" [(ngModel)]="updatedDatos.apellido" name="apellido" class="form-control">
            </div>
            <div class="form-group">
              <label for="dni">DNI:</label>
              <input id="dni" [(ngModel)]="updatedDatos.dni" name="dni" class="form-control">
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input id="telefono" [(ngModel)]="updatedDatos.telefono" name="telefono" class="form-control">
            </div>
            <div class="form-group">
              <label for="correo">Correo:</label>
              <input id="correo" [(ngModel)]="updatedDatos.correo" name="correo" class="form-control">
            </div>
            <div class="form-group">
              <label for="username">Username:</label>
              <input id="username" [(ngModel)]="updatedDatos.username" name="username" class="form-control">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-custom mr-2">Guardar Cambios</button>
              <button type="button" class="btn btn-secondary ml-2" (click)="editMode = false">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
